* {
  color: white;
}

.flex-container {
  display: flex;
  align-items: center;
}

.hotels-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  gap: 10px;
  margin-top: 50px;
}

.hotel-item {
  background-color: bisque;
  border-radius: 20px;
  height: 150px;
  padding: 10px;
}

.hotel-item:hover {
  background-color: antiquewhite;
  cursor: pointer;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: slateblue;
  color: white;
}

.footer-container {
  position: absolute;
  bottom: 0;
  background-color: slateblue;
  width: 100%;
}

.justify-end {
  justify-content: end;
}

.justify-center {
  justify-content: center;
}

.searchbar {
  margin-top: 50px;
  border-radius: 20px;
  border: solid 2px lightsalmon;
  color: lightsalmon;
}

a {
  font-weight: bold;
  color: white;
  margin-left: 10px;
  text-decoration: none;
}

a:hover {
  color: lightsalmon;
}

h1,
h2,
h3 {
  color: lightsalmon;
}

h3 {
  margin: 0;
  padding: 0;
}

em {
  color: slateblue;
}

ul {
  list-style: none;
}

li {
  margin-right: 10px;
  font-weight: bold;
  cursor: pointer;
}

img {
  max-width: 400px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.rooms-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.room-item {
  flex-direction: column;
  background-color: bisque;
  border-radius: 20px;
}

.room-item:hover {
  background-color: antiquewhite;
  cursor: pointer;
}

.booked-room {
  pointer-events: none;
  background-color: lemonchiffon;
}
